<section class="hero" id="hero">
  <h1>Gig Tonight?</h1>
  <img id="scroller" src='../assets/images/arrow.png' alt="arrow down">
</section>

<div class="container">
  <div class="row">
    <section class = "col-lg-6" id="register">
      <h2> Register </h2>
      <form method="POST" action="/register" enctype="multipart/form-data">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
        </div>
        <div>
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName">
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" id="lastName">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label for="image">Profile Picture</label>
          <input type="file" name="image" id="image">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <label for="passwordConfirmation">Password Confirmation</label>
          <input type="password" name="passwordConfirmation" id="passwordConfirmation">
        </div>

        <button class="btn">Register</button>
      </form>
    </section>
    <section id="text">
      <h2> How it works:</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>
  </div>
</div>
