

<div id="map" data-lat="51.515209" data-lng="-0.072132" data-events="<%= JSON.stringify(data) %>">
</div>

<form class="hiddenForm" action="/profile/events" method="post">
<input type="hidden" name="eventName">
<input type="hidden" name="price" value="">
<input type="hidden" name="venue" value="">
<input type="hidden" name="link" value="">
<input type="hidden" name="date" value="">
<input type="hidden" name="time" value="">
</form>
